.hbd {
    display: block;
    text-align: center;
    font-family: cursive;
}
body {
    font-family: didot;
    background-image: repeating-linear-gradient(to bottom right, #ffcccb , pink, white);
}
figcaption, audio {
    text-align: center;
}

.content {
    text-align: center;
    font-size: large;
}
img, picture, video {
    width: 50%;
    height: 75%
 }

 #carrington {
    transform: rotate(270deg);
 }
